In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('Salary_dataset.csv')
df_ = pd.read_csv('Salary_dataset_.csv')

In [13]:
df.head()

   YearsExperience  Salary
0              1.2   39344
1              1.4   46206
2              1.6   37732
3              2.1   43526
4              2.3   39892

In [14]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [15]:
def data_prep(data,target):
    X = data.drop(columns=[target])
    y = data[target].values

    return X, y

# Calculating best Theta using Gradient Update

In [ ]:
def gradient_descent(X, y, L, iters):
    m = len(y)

    # X = (X - X.mean()) / X.std()

    X_bias = np.c_[np.ones(m), X]
    print(X_bias.shape)

    n = X_bias.shape[1]
    theta = np.zeros(n)


    tolerance = 1e-6  # how small the improvement must be
    prev_cost = 0

    for i in range(iters):
        h = X_bias.dot(theta)
        error = h - y
        gradient = (1/m)*X_bias.T.dot(error)
        theta -= L * gradient
        cost = (1/(2*m)) * np.sum(error**2)
        

        # if i%100 == 0:
        #     print(f"{i}th cost is: {cost:.4f}")

        if abs(prev_cost - cost) < tolerance:
            print(f"Converged after {i} iterations.")
            break

        prev_cost = cost

    return theta


def prediction(X,theta):

    x_new = np.c_[np.ones(len(X)), X]
    y_pred = x_new.dot(theta)

    return y_pred

In [17]:
target = "Salary"
X, y = data_prep(df,target)
print(y)

theta = gradient_descent(X, y, 0.01, 100000)
print(f"Theta's are: {theta}")

[ 39344  46206  37732  43526  39892  56643  60151  54446  64446  57190
  63219  55795  56958  57082  61112  67939  66030  83089  81364  93941
  91739  98274 101303 113813 109432 105583 116970 112636 122392 121873]
(30, 2)
0th cost is: 3251553638.8667
100th cost is: 52325763.2681
200th cost is: 39950336.4621
300th cost is: 31749071.2518
400th cost is: 26314046.4964
500th cost is: 22712224.9074
600th cost is: 20325277.4062
700th cost is: 18743433.8215
800th cost is: 17695137.1475
900th cost is: 17000425.0235
1000th cost is: 16540035.3769
1100th cost is: 16234932.5590
1200th cost is: 16032739.1991
1300th cost is: 15898744.5179
1400th cost is: 15809945.4863
1500th cost is: 15751097.8667
1600th cost is: 15712099.2170
1700th cost is: 15686254.5916
1800th cost is: 15669127.2125
1900th cost is: 15657776.8017
2000th cost is: 15650254.8203
2100th cost is: 15645269.9608
2200th cost is: 15641966.4663
2300th cost is: 15639777.2218
2400th cost is: 15638326.3971
2500th cost is: 15637364.9274
2600th cost is: 15636727.7560
2700th cost is: 15636305.4990
2800th cost is: 15636025.6668
2900th cost is: 15635840.2205
3000th cost is: 15635717.3241
3100th cost is: 15635635.8800
3200th cost is: 15635581.9066
3300th cost is: 15635546.1380
3400th cost is: 15635522.4340
3500th cost is: 15635506.7253
3600th cost is: 15635496.3150
3700th cost is: 15635489.4160
3800th cost is: 15635484.8440
3900th cost is: 15635481.8142
4000th cost is: 15635479.8062
4100th cost is: 15635478.4756
4200th cost is: 15635477.5937
4300th cost is: 15635477.0093
4400th cost is: 15635476.6221
4500th cost is: 15635476.3654
4600th cost is: 15635476.1953
4700th cost is: 15635476.0826
4800th cost is: 15635476.0079
4900th cost is: 15635475.9584
5000th cost is: 15635475.9256
5100th cost is: 15635475.9039
5200th cost is: 15635475.8894
5300th cost is: 15635475.8799
5400th cost is: 15635475.8736
5500th cost is: 15635475.8694
5600th cost is: 15635475.8666
5700th cost is: 15635475.8648
5800th cost is: 15635475.8635
5900th cost is: 15635475.8627
6000th cost is: 15635475.8622
6100th cost is: 15635475.8618
6200th cost is: 15635475.8616
6300th cost is: 15635475.8614
Converged after 6357 iterations.
Theta's are: [24848.15600645  9449.96936042]

In [18]:
X, y = data_prep(df,target)

In [19]:
# y_pred = prediction(X, theta)
# print(f"Predicted values are: {y_pred}")

# Calculating Theta Using Newton Method

In [20]:
def newton_method(X,y):
    m = len(y)

    # X = (X - X.mean()) / X.std()

    X_bias = np.c_[np.ones(m), X]
    print(X_bias.shape)

    
    theta = np.linalg.solve(X_bias.T @ X_bias, X_bias.T @ y)
    print(theta)

newton_method(X,y)

(30, 2)
[24848.20396652  9449.96232146]